body {
  margin: 0;
  margin-bottom: 70px;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidenav{ 
  margin-top: 80px !important;
}